
      <div class="space-y-6 ">
        <div class="bg-white overflow-hidden sm:rounded-md">
          <%= form_with url: deck_questions_path do |f| %>
            <div class="shadow sm:rounded-md sm:overflow-hidden">
              <div class="bg-white py-6 px-4 space-y-7 sm:p-6">
                <div>
                  <h3 class="text-lg leading-5 font-medium text-gray-900">Update your Deck</h3>
                  <p class="mt-1 text-sm text-gray-500">Use this form to update your deck attributes.</p>
                </div>

                <div class="grid grid-cols-6 gap-6">

                  <div class="col-span-6 sm:col-span-6" data-questions-target="questionTypeField">
                    <%= f.label :question_type, class: "block text-sm font-medium text-gray-700" %>
                    <%= f.select :question_type, Question::QUESTION_TYPES, {}, { :class => 'mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' } %>
                  </div>

                  <div class="col-span-6 sm:col-span-6">
                    <%= f.label :question, class: "block text-sm font-medium text-gray-700" %>
                    <%= f.text_field :question, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
                  </div>

                  <div class="col-span-6 sm:col-span-6">
                    <%= f.label :correct_answer, class: "block text-sm font-medium text-gray-700" %>
                    <%= f.text_area :correct_answer, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
                  </div>

                  <div class="col-span-6 sm:col-span-6">
                    <%= f.label :wrong_answers, class: "block text-sm font-medium text-gray-700" %>
                    <%= f.text_area :wrong_answers, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", multiple: true %>
                    <%= f.text_area :wrong_answers, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", multiple: true %>
                    <%= f.text_area :wrong_answers, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", multiple: true%>
                  </div>

                </div>
              </div>
              <div class="py-3 text-right sm:px-6">
                <button type="submit" class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
